.team{
    text-align: center;
    font-size: 2rem;
    color: rgb(1, 47, 250);
}


.mem{
    display: flex;
    margin: 2rem;
    float: left;
    color: rgb(28, 200, 206);
}

img{
    height: 15rem;
    width: 13rem;
}